@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s;
}

header{
    background-color: rgb(255, 159, 226);
    text-align: center;
    padding: 12px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: black;
    text-transform: uppercase;
    padding: 0px 10px;
}

.banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    padding-top: 100px;
    height: 400px;
}

.banner h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
}

.banner a {
    background-color: rgb(255, 0, 179);
    color: white;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 25px;
    display: inline-block;
    margin-top: 30px;
}

.banner a:hover {
    background-color: rgb(255, 119, 214);
    transform: scale(1.2);
}

.nossos-servicos h2 {
    text-align: center;
    font-size: 2em;
    padding: 50px 0px;
}

.nossos-servicos div {
    width: 280px;
    border-radius: 20px;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 7px 6px 8px 3px rgb(165, 154, 159);
    display: block;
}

.nossos-servicos div h3 {
    color: rgb(255, 0, 179);
    margin: 10px 0px;
    font-size: 1.5em;
}

footer {
    background-color: rgb(255, 159, 226);
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

footer img {
    width: 90px;
    margin: 10px 0px;
}

footer p {
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
}

footer p:hover {
    color: rgb(227, 0, 159);
}